body {
  background-image: url("../images/bodyofwater.jpg");
  background-size: cover;
}

button {
  padding: 10px;
}

label {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  padding-right: 2px;
}

.giphy-box {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  height: auto;
}

.giphy-image {
  vertical-align: baseline;
  height: 250px;
  width: 100%;
}
.giphy-image:hover {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 14px;
}

.caption {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

#add-country {
  font-family: "Bangers", cursive;
  font-size: 20px;
  letter-spacing: 5px;
  margin-left: 10px;
}

#country-form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.country-button {
  color: #fff;
  background-color: #00000070;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.country-button:hover {
  color: #000;
  background-color: #ffffff70;
}
